body {
    text-align: center;
}

table {
	float: left
}


.score {
  background:url("../images/stone-block.png");
  background-repeat:round;
  padding: 20px; 
  width: 200px;
  height: 150px;
  position: absolute;
  top: 300px;
  left: 50px; 
  
}

.title {
  background:url("../images/stone-block.png");
  background-repeat:repeat-x; 
}

#Start {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  width:100px;
  top: 60px;
  left: 75px;
}

#New_game {
  display: inline-block;
  background: #e6e6e6 url("../images/grass-block.png") 50% 50% repeat-x;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  bottom: 90px;
  left: 75px;
  height: 30px;
  width: 130px;
  padding-top:2.5px
}

.td-top { vertical-align: top;
}

.td-bottom { vertical-align: bottom

}






