body {
    text-align: center;
}

table {
	float: left
}

.score {
  background:url("../images/stone-block.png");
  background-repeat:round;
  padding: 20px; 
  width: 200px;
  height: 150px;
  position: absolute;
  top: 300px;
  left: 50px
}

.title {
  background:url("../images/stone-block.png");
  background-repeat:repeat-x;
  vertical-align: bottom 
}

#Start {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  width:100px;
  top: 60px;
  left: 75px
}

#New_game {
  display: inline-block;
  background: #e6e6e6 url("../images/grass-block.png") 50% 50% repeat-x;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  bottom: 90px;
  left: 75px;
  height: 30px;
  width: 130px;
  padding-top:2.5px
}

.td-top { vertical-align: top;
}

.td-bottom { vertical-align: bottom

}

#WinGame {
    display: block;
    position: absolute;
    height: auto;
    width: 300px;
    top: 252.5px;
    left: 485.5px;
    background: #ff0000;
    color: #222222;
    background: #e6e6e6 url("../images/grass-block.png") 50% 50% repeat-x;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

 #LoseGame {
    display: block;
    position: absolute;
    height: auto;
    width: 300px;
    top: 252.5px;
    left: 485.5px;
    background: #ff0000;
    color: #222222;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

 #messageSelect {
    display: block;
    position: absolute;
    height: auto;
    width: 250px;
    top: 400px;
    left: 550px;
	background: #ff0000;
    color: #222222;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.my-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal
}
.my-ui-icon-closethick {
  background-position: -96px -128px;
  color: #454545
}

.images
{
display: inline-block;
float:left;
margin: 0px;
padding: 0px;
}

#players
{
display: block;
margin: 0px;
padding: 0px;
position: absolute;
top: 400.5px;
left: 430px;
height: auto;
width: 505px;
overflow-y: hidden;
overflow-x:auto;
white-space:nowrap
}

#getImagePlayerSelected
{
display: none

}






